<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="THITRACNGHIEM.Properties.Settings.TRACNGHIEMConnectionString"
            connectionString="Data Source=THU-PC\SERVER1;Initial Catalog=TRACNGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="THITRACNGHIEM.Properties.Settings.TRACNGHIEMConnectionString1"
            connectionString="Data Source=THU-PC\SERVER2;Initial Catalog=TRACNGHIEM;User ID=SA;Password=kc;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>