USE [QL_VATTU]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 02/22/2018 22:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [char](4) NOT NULL,
	[CHINHANH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SoDT] [varchar](50) NULL,
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHINHANH] ([MACN], [CHINHANH], [DIACHI], [SoDT]) VALUES (N'CN1 ', N'Chi nhánh 1 TP HCM', N'35 Trần Hưng Đạo P1 Q1 TP HCM', N'999111888')
INSERT [dbo].[CHINHANH] ([MACN], [CHINHANH], [DIACHI], [SoDT]) VALUES (N'CN2 ', N'Chi nhánh 2 TP Cần Thơ ', N'255 Nguyễn Huệ P1 Q1', N'888444777')
/****** Object:  Table [dbo].[VATTU]    Script Date: 02/22/2018 22:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [char](4) NOT NULL,
	[TENVT] [nvarchar](50) NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[SOLUONGTON] [int] NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON]) VALUES (N'MX01', N'Máy giặt tự đông cửa trước 9Kg LG', N'Cái', 5)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON]) VALUES (N'MX02', N'Máy giặt tự đông cửa trên  Inox 6,5kg', N'Cái', 10)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON]) VALUES (N'MX07', N'Máy lạnh Pana 2 ngựa', N'Cái', 6)
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 02/22/2018 22:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [nchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [smalldatetime] NOT NULL,
	[LUONG] [float] NOT NULL,
	[MACN] [char](4) NOT NULL,
	[HINH] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TENHO] ON [dbo].[NHANVIEN] 
(
	[TEN] ASC,
	[HO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG], [MACN], [HINH], [GHICHU]) VALUES (2, N'NGUYỄN VÃN', N'TRƯỜNG', N'Nam       ', N'200 Kỳ Đồng', CAST(0x6D260000 AS SmallDateTime), 900000, N'CN2 ', N'E:\CSDL_PT\CT_QLVT\Hinh\DanTruong.jpg', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG], [MACN], [HINH], [GHICHU]) VALUES (4, N'NGUYỄN THỊNH ', N'PHONG', N'Nam       ', N'157 Dương Bá Trạc P1 Q8', CAST(0x79D00000 AS SmallDateTime), 1000000, N'CN2 ', NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG], [MACN], [HINH], [GHICHU]) VALUES (5, N'THI NGỌC', N'LAN', N'Nữ        ', N'999, 3 tháng 2 P6 Q10 TPHCM ', CAST(0x7A9F0000 AS SmallDateTime), 1000000, N'CN1 ', N'E:\CSDL_PT\CT_QLVT\Hinh\ChauNgocLan.BMP', NULL)
/****** Object:  Table [dbo].[KHO]    Script Date: 02/22/2018 22:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [char](6) NOT NULL,
	[TENKHO] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[MACN] [char](4) NOT NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN]) VALUES (N'K01CN1', N'KHO THỦ ĐỨC', N'28-30 Ngô Quyền P1 Q5', N'CN1 ')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN]) VALUES (N'K01CN2', N'KHO D', N'123 LÊ LỢI, TPCẦN THƠ', N'CN2 ')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN]) VALUES (N'K02CN1', N'KHO B', N'78 Nguyen Trai, TPHCM', N'CN1 ')
/****** Object:  Table [dbo].[PHATSINH]    Script Date: 02/22/2018 22:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHATSINH](
	[PHIEU] [char](8) NOT NULL,
	[NGAY] [smalldatetime] NOT NULL,
	[LOAI] [char](1) NOT NULL,
	[HOTENKH] [nvarchar](50) NOT NULL,
	[MANV] [int] NOT NULL,
	[LYDO] [nvarchar](100) NULL,
	[MAKHO] [char](6) NULL,
 CONSTRAINT [PK_PHATSINH] PRIMARY KEY CLUSTERED 
(
	[PHIEU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PHATSINH] ([PHIEU], [NGAY], [LOAI], [HOTENKH], [MANV], [LYDO], [MAKHO]) VALUES (N'P0001CN2', CAST(0x99310000 AS SmallDateTime), N'N', N'KVL', 4, N' ', N'K01CN2')
INSERT [dbo].[PHATSINH] ([PHIEU], [NGAY], [LOAI], [HOTENKH], [MANV], [LYDO], [MAKHO]) VALUES (N'P0002CN1', CAST(0x98D90000 AS SmallDateTime), N'N', N'KVL', 8, N' ', N'K01CN2')
INSERT [dbo].[PHATSINH] ([PHIEU], [NGAY], [LOAI], [HOTENKH], [MANV], [LYDO], [MAKHO]) VALUES (N'P0002CX3', CAST(0xA60A0000 AS SmallDateTime), N'X', N'KVL', 8, N' ', N'K01CN2')
/****** Object:  Table [dbo].[CT_PHATSINH]    Script Date: 02/22/2018 22:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHATSINH](
	[PHIEU] [char](8) NOT NULL,
	[MAVT] [char](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[trigia]  AS ([soluong]*[dongia]),
 CONSTRAINT [PK_CT_PHATSINH] PRIMARY KEY CLUSTERED 
(
	[PHIEU] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_PHATSINH] ([PHIEU], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'P0001CN2', N'MX01', 10, 50)
INSERT [dbo].[CT_PHATSINH] ([PHIEU], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'P0001CN2', N'MX07', 1, 60)
INSERT [dbo].[CT_PHATSINH] ([PHIEU], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'P0001CN2', N'TV02', 1, 60)
/****** Object:  Default [DF_PHATSINH_LOAI]    Script Date: 02/22/2018 22:14:55 ******/
ALTER TABLE [dbo].[PHATSINH] ADD  CONSTRAINT [DF_PHATSINH_LOAI]  DEFAULT ('N') FOR [LOAI]
GO
/****** Object:  Default [DF_VATTU_SOLUONGTON]    Script Date: 02/22/2018 22:14:55 ******/
ALTER TABLE [dbo].[VATTU] ADD  CONSTRAINT [DF_VATTU_SOLUONGTON]  DEFAULT ((0)) FOR [SOLUONGTON]
GO
/****** Object:  Check [CK_PHATSINH]    Script Date: 02/22/2018 22:14:55 ******/
ALTER TABLE [dbo].[PHATSINH]  WITH CHECK ADD  CONSTRAINT [CK_PHATSINH] CHECK  (([LOAI]='C' OR ([LOAI]='T' OR ([LOAI]='X' OR [LOAI]='N'))))
GO
ALTER TABLE [dbo].[PHATSINH] CHECK CONSTRAINT [CK_PHATSINH]
GO
/****** Object:  ForeignKey [FK_CT_PHATSINH_PHATSINH]    Script Date: 02/22/2018 22:14:55 ******/
ALTER TABLE [dbo].[CT_PHATSINH]  WITH NOCHECK ADD  CONSTRAINT [FK_CT_PHATSINH_PHATSINH] FOREIGN KEY([PHIEU])
REFERENCES [dbo].[PHATSINH] ([PHIEU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_PHATSINH] CHECK CONSTRAINT [FK_CT_PHATSINH_PHATSINH]
GO
/****** Object:  ForeignKey [FK_CT_PHATSINH_VATTU]    Script Date: 02/22/2018 22:14:55 ******/
ALTER TABLE [dbo].[CT_PHATSINH]  WITH NOCHECK ADD  CONSTRAINT [FK_CT_PHATSINH_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHATSINH] CHECK CONSTRAINT [FK_CT_PHATSINH_VATTU]
GO
/****** Object:  ForeignKey [FK_KHO_CHINHANH]    Script Date: 02/22/2018 22:14:55 ******/
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_CHINHANH]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_CHINHANH]    Script Date: 02/22/2018 22:14:55 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_NHANVIEN_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHINHANH]
GO
/****** Object:  ForeignKey [FK_PHATSINH_KHO]    Script Date: 02/22/2018 22:14:55 ******/
ALTER TABLE [dbo].[PHATSINH]  WITH CHECK ADD  CONSTRAINT [FK_PHATSINH_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHATSINH] CHECK CONSTRAINT [FK_PHATSINH_KHO]
GO
/****** Object:  ForeignKey [FK_PHATSINH_NHANVIEN]    Script Date: 02/22/2018 22:14:55 ******/
ALTER TABLE [dbo].[PHATSINH]  WITH CHECK ADD  CONSTRAINT [FK_PHATSINH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHATSINH] CHECK CONSTRAINT [FK_PHATSINH_NHANVIEN]
GO
