USE [QLVT]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 07/22/2018 18:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [nchar](4) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENVT] UNIQUE NONCLUSTERED 
(
	[TENVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON]) VALUES (N'VT01', N'ĐƯỜNG', N'KG', 0)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON]) VALUES (N'VT02', N'BỘT NGỌT', N'KG', 0)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON]) VALUES (N'VT03', N'CAFE', N'KG', 0)
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 07/22/2018 18:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [nchar](10) NOT NULL,
	[TENPB] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB]) VALUES (N'BGD       ', N'BAN GIÁM ĐỐC')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB]) VALUES (N'HC        ', N'PHÒNG HÀNH CHÁNH')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB]) VALUES (N'IT        ', N'PHÒNG IT')
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 07/22/2018 18:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[LUONG] [bigint] NOT NULL,
	[MAPB] [nchar](10) NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MAPB], [GHICHU]) VALUES (1, N'NGUYỄN HỮU', N'ANH', N'123', CAST(0x00008EAC00000000 AS DateTime), 5000000, N'HC        ', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MAPB], [GHICHU]) VALUES (2, N'LÊ THỊ HOÀNG', N'ANH', N'234', CAST(0x00008D5F00000000 AS DateTime), 7000000, N'HC        ', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MAPB], [GHICHU]) VALUES (3, N'AAA', N'BBB', N'234', CAST(0x00007EFB00000000 AS DateTime), 8000000, N'IT        ', N'...')
/****** Object:  Table [dbo].[DATHANG]    Script Date: 07/22/2018 18:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG](
	[MASODDH] [nchar](8) NOT NULL,
	[NGAY] [datetime] NULL,
	[NHACC] [nvarchar](100) NOT NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_DATHANG] PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TÊN CÔNG TY, ĐẠI LÝ CUNG CẤP HÀNG' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DATHANG', @level2type=N'COLUMN',@level2name=N'NHACC'
GO
INSERT [dbo].[DATHANG] ([MASODDH], [NGAY], [NHACC], [MANV]) VALUES (N'DH01    ', CAST(0x0000A6EE00000000 AS DateTime), N'GGGG', 1)
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 07/22/2018 18:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [datetime] NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TÊN CÔNG TY, ĐẠI LÝ CUNG CẤP HÀNG' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEUXUAT', @level2type=N'COLUMN',@level2name=N'HOTENKH'
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 07/22/2018 18:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MASODDH] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_DSDDH]    Script Date: 07/22/2018 18:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Liệt kê các ĐĐH đã lập thuộc 1 tháng/ năm 
--Kết xuất : MASODDH  NGAY  NHACC  MANV  HOTENNV
CREATE PROCEDURE [dbo].[SP_DSDDH]
@THANG INT, @NAM INT  -- tham số 
AS
BEGIN
  SELECT DH.MASODDH , DH.NGAY , DH.NHACC , DH.MANV,
  HOTENNV= HO+ ' '+NV.TEN 
    FROM dbo.DATHANG DH, dbo.NHANVIEN NV
    WHERE MONTH( DH.NGAY )= @THANG AND YEAR( DH.NGAY )= @NAM
       AND DH.MANV =NV.MANV
END
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 07/22/2018 18:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](8) NOT NULL,
	[MASODDH] [nchar](8) NOT NULL,
	[NGAY] [datetime] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TÊN CÔNG TY, ĐẠI LÝ CUNG CẤP HÀNG' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEUNHAP', @level2type=N'COLUMN',@level2name=N'MAPN'
GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 07/22/2018 18:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 07/22/2018 18:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_NHANVIEN_LUONG]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_LUONG]  DEFAULT ((5000000)) FOR [LUONG]
GO
/****** Object:  Default [DF_DATHANG_NGAY]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[DATHANG] ADD  CONSTRAINT [DF_DATHANG_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
/****** Object:  Default [DF_PHIEUXUAT_NGAY]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[PHIEUXUAT] ADD  CONSTRAINT [DF_PHIEUXUAT_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
/****** Object:  Default [DF_PHIEUNHAP_NGAY]    Script Date: 07/22/2018 18:00:17 ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [DF_PHIEUNHAP_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
/****** Object:  Check [CK_SOLUONGTON]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONGTON] CHECK  (([SOLUONGTON]>=(0)))
GO
ALTER TABLE [dbo].[VATTU] CHECK CONSTRAINT [CK_SOLUONGTON]
GO
/****** Object:  Check [CK_LUONG]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_LUONG] CHECK  (([LUONG]>=(5000000)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_LUONG]
GO
/****** Object:  Check [CK_DONGIA]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_DONGIA]
GO
/****** Object:  Check [CK_SOLUONG]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_SOLUONG]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_PHONGBAN]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([MAPB])
REFERENCES [dbo].[PHONGBAN] ([MAPB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
/****** Object:  ForeignKey [FK_DATHANG_NHANVIEN]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_PHIEUXUAT_NHANVIEN]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_CTDDH_DATHANG]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DATHANG] FOREIGN KEY([MASODDH])
REFERENCES [dbo].[DATHANG] ([MASODDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DATHANG]
GO
/****** Object:  ForeignKey [FK_CTDDH_VATTU]    Script Date: 07/22/2018 18:00:16 ******/
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_VATTU]
GO
/****** Object:  ForeignKey [FK_PHIEUNHAP_DATHANG]    Script Date: 07/22/2018 18:00:17 ******/
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DATHANG] FOREIGN KEY([MASODDH])
REFERENCES [dbo].[DATHANG] ([MASODDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DATHANG]
GO
/****** Object:  ForeignKey [FK_PHIEUNHAP_NHANVIEN]    Script Date: 07/22/2018 18:00:17 ******/
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_CTPX_PHIEUXUAT]    Script Date: 07/22/2018 18:00:17 ******/
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_PHIEUXUAT] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PHIEUXUAT]
GO
/****** Object:  ForeignKey [FK_CTPX_VATTU]    Script Date: 07/22/2018 18:00:17 ******/
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_VATTU]
GO
/****** Object:  ForeignKey [FK_CTPN_PHIEUNHAP]    Script Date: 07/22/2018 18:00:17 ******/
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
/****** Object:  ForeignKey [FK_CTPN_VATTU]    Script Date: 07/22/2018 18:00:17 ******/
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_VATTU]
GO
